.container{
  margin-bottom: 6px;
  margin: 0 auto;
  margin-right: 100px;
 
}
input{
  width: 187px;
   padding: 13px;
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 2px;
  font-size: 16px;
  background-color: rgb(241, 227, 209);
  border:2px solid  rgb(95, 94, 92);;
}

input:focus, input:active, input:hover{
  background-color: rgb(245, 223, 193);
  border:2px solid  rgb(65, 61, 56);;
}